.home_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #000;
}

.home_header_logo {
  height: 54px;
  transform: scaleX(-1);
}

.home_header_nav {
  padding: 0 20px;
  font-size: 1.2rem;
}

.home_header_nav_ul {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.home_header_nav_link {
  text-decoration: none;
  color: #fff;
  transition: color var(--color-transition-animation-duration);
}

.home_header_nav_link:hover {
  color: var(--neutral-red);
}
